.navbar{
    background-color: black;
    border-bottom: 3px solid var(--celo-accent-cyan);
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar li {
    font-size: 24px;
    font-family: Jost;
}