.technical{
    font-family: "Jost"
}

.address {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}

#loadingLogo {
    width: 150px;
}

#sortIcon {
    width: 20px;
}

.signed-blocks th {    
    font-family: "Jost";
    font-size: smaller;
    cursor: pointer;
}

.signed-blocks thead {
    background-color: var(--celo-canvas-faint-gold);
}

.blockMapInfo {
    /* padding: 0.20rem !important; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    vertical-align: middle !important;
    /* padding-bottom: 0; */
}

.signature-300 {
    padding: 0.05rem !important;
    /* font-size: 0px; */
}

.signature-200 {
    padding: 0.05rem !important;
    /* font-size: 0px; */
}

.signature-100 {
    padding: 0.15rem !important;
}

.missed {
    background-color: var(--celo-accent-red);
    color: var(--celo-accent-red);
}

.signed {
    background-color: var(--celo-green);
    color: var(--celo-green);
}

.other {
    background-color: var(--celo-accent-cyan);
    color: var(--celo-accent-cyan);
}

p {
    font-size: larger;
}

li {
    font-size:larger;
}

.nb {
    color: var(--celo-accent-blue);
    font-family: Jost;    
}

.text-align-left {
    text-align: left;
}

#react-paginate {
    margin: auto;
}

.signed-blocks-content {
    align-self: center;
    align-content: center;
    align-items: center;
    width: 92%;
}

.page-link {
    color: var(--celo-accent-blue);
}

.page-item.active .page-link {
    background-color:  var(--celo-accent-blue);
}

.jump {
    color: var(--celo-accent-blue);
    /* font-weight: bold
    ; */
}

.btn-secondary {
    border-radius: 7%;
    background-color: var(--celo-canvas-faint-gold);
    color: var(--celo-blue);
    border-color: var(--celo-blue);
}

.controls {
    align-items: center;
}

#favouriteIconTableHeader {
    width: 12px;
}

.headerRow {
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-bottom: 0rem;
}