html, body {
  height: 100%;
}

body {
  background-color:var(--celo-white);
}

.App {
  text-align: center;
  background: var(--celo-white);
  font-family: "EB Garamond", "Jost";
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.App-content {
  flex: 1 0 auto;
}

hr{
  color: var(--celo-dark);
}

.btn-primary {
  background-color: var(--celo-canvas-faint-gold);
  color: var(--celo-dark);
  border: 1px solid var(--celo-dark);
  font-size: 24px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.row {  
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
}

.centered {
  align-items: center;
}

a {
  color: var(--celo-accent-blue);
}

.page-header {
  align-items: center;
}

.celoIcons {
  max-width: 100px;
}

.jost {
  font-family: Jost;
 }

.header-logo {
  display: flex;
  max-width: 250px;
  max-height: 80%;
}