body {
  background-color:var(--celo-white);
}

.App {
  text-align: center;
  background: var(--celo-white);
  font-family: "EB Garamond", "Jost";
  margin:0px;
  height: 100%;
}

hr{
  color: var(--celo-gray-heavy);
}

.App-header {
  background-color:var(--celo-gray-heavy);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--celo-dark);
}

.main-bg {
  background-color:var(--celo-gray-faint);
}
.light-highlight-bg {
  background-color: var(--celo-gray); 
}
.dark-highlight-bg {
  background-color: var(--celo-gray-heavy); 
}

.btn-primary {
  background-color: var(--celo-gray);
  color: var(--celo-dark);
  border: 1px solid var(--celo-green);
  font-size: 24px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-content: center;
}

a {
  color: var(--celo-accent-blue);
}