body {
  margin: 0;
  padding: 0;
  
  /* Celo Primary */
  --celo-green:#35D07F;
  --celo-gold:#FBCC5C;
  --celo-dark:#2E3338;
  --celo-white:#FFFFFF;

  /* Celo Accent */
  --celo-accent-violet:#BF97FF;
  --celo-accent-red:#FB7C6D;
  --celo-accent-cyan:#73DDFF;
  --celo-accent-blue:#3488EC;

  /* Celo Gray */
  --celo-gray-heavy:#ABADAF;
  --celo-gray:#DDDDDD;
  --celo-gray-light:#EDEEEF;
  --celo-gray-faint:#F8F9F9;

  /* Celo Background */
  --celo-canvas-white:#FFFFFF;
  --celo-canvas-faint-gray:#F8F9F9;
  --celo-canvas-faint-gold:#FEF2D6;
  --celo-canvas-dark:#2E3338;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(./assets/fonts/Jost/TrueType/Jost-400-Book.ttf) format('truetype');
}