.footer {
  color:var(--celo-dark);
  background-color:black;
  border-top: solid 2px var(--celo-accent-cyan);
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
  padding-top: 20px;
}

.footer p  {
  font-size: smaller;
  color: var(--celo-white);
}

.validatorBadges img {
  max-width: 75px;
  padding-right: 5px;
}