a.footer {
    color:var(--celo-dark); 
}

.footer {
  color:var(--celo-dark);
  background-color: var(--celo-accent-cyan);
  border-top: solid 2px var(--celo-dark);
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
  padding-top: 20px;
}

.footer p  {
  font-size: smaller;
}