
.link-list {    
    background-color: var(--celo-canvas-dark);   
    /* border: solid 1px var(--celo-accent-cyan); */
    padding: 10px;
    margin-top: 20px;
}

ul {
    text-align: left;
    font-size: larger;
}

.tiny-icon {
    max-width: 50px;
}

#left {
 text-align: right;
 padding-left: 5px;
 width: 40%;
}

td {
    padding-right: 10px;
}

#right {
    text-align: left;
    padding-right: 5px;
    width: 50%;
    word-break: break-all;
}

.small-padding {
    padding-bottom: 0px;
}