.celoIcons {
    max-width: 100px;
}

.tools {
    align-items: center;
}

.link-list {    
    background-color: var(--celo-canvas-faint-gold);   
    border: solid 1px var(--celo-accent-cyan);
    padding: 1%;
    margin-top: 10px;
}

.jost {
 font-family: Jost;
}

ul {
    text-align: left;
    font-size: larger;
}

#left {
 text-align: right;
 padding-left: 5px;
}

td {
    padding-right: 10px;
}

#right {
    text-align: left;
    padding-right: 5px;
}

.small-padding {
    padding-bottom: 0px;
}