.technical{
    font-family: "Jost"
}

#loadingLogo {
    width: 150px;
}

thead {
    background-color: var(--celo-canvas-faint-gold);
}

th, td {    
    font-family: "Jost";
    padding: 5px;
}

.address {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}
 
#request-claim-button {
    width: 150px;
}

p {
    font-size: larger;
}

li {
    font-size:larger;
}

#how-to-prepare {
    text-align: left;
}

#how-to-prepare li {
    font-family: Jost;
}

.nb {
    color: var(--celo-accent-blue);
    font-family: Jost;    
}