#small-logo {
    max-width: 100px;
}

#developer-logo {
    max-width: 100px;
}

.jumbo-primary p {    
    font-size: 200%;
}

.jumbo-primary h1 {
    color: var(--celo-dark);
    font-size: 400%;
}

th, td {    
    font-family: "Jost";
}

.technical{
    font-family: "Jost"
}


