.attestation-350 {
    padding: 0.03rem !important;
}

.attestation-300 {
    padding: 0.03rem !important;
}

.attestation-250 {
    padding: 0.03rem !important;
}

.attestation-200 {
    padding: 0.06rem !important;
}

.attestation-150 {
    padding: 0.08rem !important;
}

.attestation-100 {
    padding: 0.1rem !important;
}

.attestation-10 {
    padding: 0.2rem !important;
}

.attestation-50 {
    padding: 0.2rem !important;
}

.incomplete {
    background-color: var(--celo-accent-red);
    color: var(--celo-accent-red);
}

.completed {
    background-color: var(--celo-green);
    color: var(--celo-green);
}

.filler {
    background-color: var(--celo-accent-cyan);
    color: var(--celo-accent-cyan);
}

.checkmark-small img {
    width: 15px;
}